.acerca{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    .acerca-container{
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .acerca-img{
            img{
                height: 300px;
                opacity: 0.05;
            }
        }
        .acerca-text{
            width: 60%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-items: end;
            h3{
                font-size: 40px;
                margin: 20px 0;
                text-align: end;
                border-bottom: 2px solid #58355E;
            }
            p{
                text-align: justify;
                line-height: 40px;
                background-color: rgba(0, 0, 0, 0.226);
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                padding: 20px 30px;
            }
        }
    }
}



// MEDIA QUERIES

@media screen and (max-width: 980px) {
    .acerca{
        .acerca-container{
            .acerca-img{
                display: none;
            }
            .acerca-text{
                width: 100%;
                h3{
                    font-size: 60px;
                }
                p{
                    background-color: transparent;
                    padding: 0;
                    line-height: 30px;
                    box-shadow: none;
                }
            }
        }
    }
}