.banner{
    height: 100vh;
    display: flex;
    justify-content: start;
    align-items: center;
    color: white;
    margin: 0 auto;
    .banner-text{ 
        margin: 0;
        i{
            color: #58355E;
            margin-right: 10px;
        }     
        h1{
            font-size: 3rem;
            border-bottom: 2px solid #58355E;
            padding-bottom: 20px;
            margin-top: 20px;
        }
    }
}


// MEDIA QUERIES

@media screen and (max-width: 800px) {
    .banner{
        .banner-text{
            h1{
                font-size: 2rem;
            }
        }
    }
}