header{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.808);
    backdrop-filter: blur(8px);
    transition: 0.5s;
    overflow: hidden;
    z-index: 10;
    .header-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 0;
        img{
            height: 50px;
            cursor: pointer;
        }
        .menu-bar{
            display: none;
        }
        nav{
            li{
                list-style: none;
                a{
                    color: white;
                    text-decoration: none;
                    margin-left: 30px;
                }
            }
        }
    }
    .drop-menu{
        position: fixed;
        width: 100%;
        height: 0px;
        background-color: #58355E;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        top: 60px;
        transition: height 0.8s;
        overflow: hidden;
        display: none;
        li{
            list-style: none;
            a{
                color: white;
                text-decoration: none;
                display: list-item;
                margin: 40px;
                text-align: center;
            }
        }
    }
    .open-drop-menu{
        height: 420px;
    }
    .download-cv{
        border: 1px solid #693f70;
        padding: 10px;
        transition: 0.5s;
    }
    .download-cv:hover{
        background-color: #58355E;
    }

}



// MEDIA QUERIES

@media screen and (max-width: 1060px) {
    header{
        backdrop-filter: none;
        background-color: #58355E;
        .header-container{
            padding: 15px 0;
            img{
                height: 35px;
            }
            .menu-bar{
                display: block;
                height: 20px;
                cursor: pointer;
            }
            nav{
                display: none;
            }
        }
        .drop-menu{
            display: block;
        }
    }
}