.servicios{
    height: auto;
    background-color: rgba(0, 0, 0, 0.61);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 80px 0;
    h3{
        font-size: 40px;
        border-bottom: 2px solid #58355E;
        margin-bottom: 30px;
    }
    .servicios-container{
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        color: white;
        padding: 60px 0;
        h3{
            font-size: 40px;
            border-bottom: 2px solid #58355E;
            margin-bottom: 30px;
        }
        .servicios-block{
            height: 400px;
            background-color: #58355ed7;
            width: 30%;
            padding: 20px;
            margin: 20px;
            border-radius: 2px;
            h2{
                text-align: center;
                border-bottom: 2px solid #986ba0;
                padding-bottom: 20px;
                margin-bottom: 20px;
            }
            p{
                line-height: 30px;
            }
        }
    }
    
}

// MEDIA QUERIES

@media screen and (max-width: 980px){
    .servicios{
        .servicios-container{
            .servicios-block{
                width: 100%;
                margin: 20px 0;
            }
        }
    }
}
@media screen and (max-width: 1450px){
    .servicios{
        .servicios-container{
            .servicios-block{
                width: 100%;
                height: auto;
                margin: 20px 0;
            }
        }
    }
}