@import "./_header";
@import "./_banner";
@import "./_acerca";
@import "./_habilidades";
@import "./_proyectos";
@import "./_footer";


// GENERAL

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(31, 31, 31);
    overflow-x: hidden;
}
.light-mode{
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 20px;
    cursor: pointer;
    z-index: 10;
    i{
       color: #58355E;
       font-size: 40px;
    }
}
.light{
    background-color: #2f1933;
    transition: 0.5s;
    h1, h3, p, a{
        color: white !important;
    }
}
.container{
    width: 75%;
}
.contacto{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.952);
    padding: 10px 15px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    right: 0;
    top: 40%;
    transform: translateX(2000px);
    transition: 1s;
    z-index: 1;
    a{
        display: list-item;
        list-style: none;
        color: #58355E;
        font-size: 40px;
        margin: 20px 0;
        cursor: pointer;
    }
}
.download-cv-container{
    position: fixed;
    left: 0%;
    bottom: 0%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.76);
    backdrop-filter: blur(8px);
    margin: 20px;
    z-index: 10;
    border-radius: 8px;
    transition: height 0.5s;
    overflow: hidden;
    li{
        list-style: none;
        i{
            margin-right: 15px;
            font-size: 20px;
        }
        a{
            display: list-item;
            text-decoration: none;
            margin: 20px;
            color: #58355E;
        }
    }
}
.open-download-cv-container{
    height: 90px;
}

// SQUARE ANIMATION

.square-animation{
    position: fixed;
    right: 0;
    top: 50%;
    height: 1500px;
    width: 1500px;
    background-color: transparent;
    border: 2px solid #58355e65;
    animation: square 20s infinite linear;
    transition: 0.5s;
    z-index: -1;
}
@keyframes square {
    100%{
        rotate: 360deg;
        transform: rotateX(360deg);
    }
}


// FADE OUT & IN EFFECT

.fade-out{
    transform: translateY(200px);
    transition: 0.5s;
    opacity: 0;
}
.fade-in{
    transform: translateY(0px);
    transition: 0.5s;
    opacity: 1;
}




// MEDIA QUERIES

@media screen and (max-width: 780px) {

    .container{
        width: 90%;
    }
    .contacto{
        a{
            font-size: 30px;
        }
    }
    .open-download-cv-container{
        height: 120px;
    }
    .square-animation{
        height: 600px;
        width: 600px;
        top: 50%;
        left: 50%;
    }
}